*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reloj{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.manecillas{
    
   
    height: 150px;
    width: 2px;
   
}

#horas{
   
    animation: rotar 216000s linear infinite;
    transform-origin: bottom;
    border: 3px solid black;
}

#minutos{
    animation: rotar 3600s linear infinite;
    transform-origin: bottom;
    
    border: 2px solid grey;
}

#segundos{
    
    border: 3px solid rgb(212, 201, 201);
    animation: rotar 60s linear infinite;
    transform-origin: bottom;
}

@keyframes rotar{
    from{
        transform: rotateZ(0);
        
       
    }to{
        
        transform: rotateZ(360deg);
        
    }
}

